/* Logo Section */
.Footer {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
  background: linear-gradient(to right, #FA7A3A, #F9C827);
  box-sizing: border-box;
  overflow-x: hidden;
}

.left1,
.middle1,
.middle2,
.right1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.logo4 p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin: 0;
}
.logo4 img {
  height: 30px;
  width: 30px;
}

.icons2 {
  display: flex;
  gap: 20px;
}
.icons2 img {
  height: 30px;
  width: 30px;
}

.style {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.style2 {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 163px;
  height: 56px;
  background-color: #fff;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.btn3 p {
  color: #FFA300;
  font-weight: 600;
  margin: 0;
}
.btn3 img {
  height: 28px;
  width: 28px;
}

.fin p {
  color: #fff;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    padding: 30px 20px;
    gap: 40px;
    margin-top: 100px;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 0px;
    text-align: center;
    align-items: center;
  }

  .logo4 p {
    font-size: 26px;
  }

  .style,
  .fin p {
    font-size: 14px;
    text-align: center;
  }

  .style2 {
    font-size: 18px;
    text-align: center;
  }

  .features a {
    font-size: 14px;
    text-align: center;
  }

  .btn3 {
    width: 150px;
    height: 50px;
    justify-content: center;
  }

  .btn3 img {
    width: 24px;
    height: 24px;
  }

  .btn3 p {
    font-size: 14px;
    text-align: center;
  }

  .icons2 img {
    width: 26px;
    height: 26px;
  }
}

