body{
    background-color: #FFFAEB;
    height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  
}
@media (max-width: 768px) {
  body{
    width:115%;
  }
}
    
    

    











